/* 固定导航栏样式 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  z-index: 1000;
  border-bottom: 2px solid #444;
}

/* 页面标题部分的样式 */
.page-title {
  text-align: center;
  margin-top: 100px; /* 调整距离顶部的间距，防止被固定的导航栏遮挡 */
}
