.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.navbar-left a, .navbar-right a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.navbar-left a:hover, .navbar-right a:hover {
  background-color: #555;
  border-radius: 5px;
}
